:root {
  --primary-tytle-color: #ffffff;
  --secondary-tytle-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --dark-bg-cl: #2f303a;
  --grey-bg: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

image {
  display: block;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* ---------------------header----------------- */
.header {
  background-color: ;
  padding-top: 27px;
  padding-bottom: 27px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 40px;
}

.header-contakt {
  margin-left: auto;
  display: flex;
}

.header-contakts-list {
  display: flex;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-contakts-link,
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-tytle-color);
}

.header-link:hover,
.header-link:focus,
.header-contakts-link:hover,
.header-contakts-link:focus,
.current-link {
  color: var(--accent-color);
}

.header-contakts-link {
  color: var(--primary-text-color);
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: var(--secondary-tytle-color);
}

/* hero */

.hero {
  background: var(--dark-bg-cl);
}

.hero-container {
  display: flex;
  width: 1600px;
  height: 466px;
  align-items: center;
}

.hero-title {
  width: 700px;
  height: 110px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-tytle-color);
}

.hero-item {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.hero-btn-item {
  min-width: 200px;
  margin: 0 auto;
  align-items: center;
  padding-left: 700px;
  padding-bottom: 134px;
}

.hero-btn {
  padding-top: 275px;
  padding-bottom: 135px;
  padding-right: 700px;
  padding-left: 700px;
  width: 250px;
  height: 55px;
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-tytle-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* --------------about----------------- */

.about-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 230px;
}

.about-list {
  display: flex;
  flex-basis: calc(100% / 3 -30px);
  margin-left: -30px;
}

.about-skm {
  margin-right: 30px;
}

.about-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--secondary-tytle-color);
}

.about-text {
  line-height: 1.7;
  color: var(--primary-text-color);
}

.work-section {
  display: flex;
  padding-top: 230px;
  padding-bottom: 94px;
}

.work-title {
  margin: 0 auto;
  margin-bottom: 58px;
}

.work-list {
  display: flex;
}

.work-item {
  margin-right: 30px;
}

.team {
  display: flex;
  padding-top: 94px;
  background-color: var(--grey-bg);
}

.team-list {
  display: flex;
  flex-basis: calc(100% / 4 -30px);
  margin-left: -30px;
}

.team-skm {
  margin-left: 30px;
}

.team-item {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  padding-bottom: 30px;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--secondary-tytle-color);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-tytle-color);
}

/* footer */

.footer-container {
  width: 1600px;
  height: 252px;
  padding-left: 215px;
  padding-bottom: 60px;
}

.adres-text {
  line-height: 1.7;
  color: var(--primary-tytle-color);
}

.footer-general {
  background-color: var(--dark-bg-cl);
}
.footer-logo {
  color: var(--primary-tytle-color);
}

.footer-addres {
  font-style: normal;
}

/*------------------Portfolio-------------- */

.filter-list {
  padding-left: 250px;
  margin-left: -8px;
}

.filter-btn {
  margin-left: 8px;
  padding: 6px 22px;
  background: var(--grey-bg);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-tytle-color);
  font-family: inherit;
}

.filter-btn:hover,
.filter-btn:focus,
.current-btn {
  background: var(--accent-color);
  color: var(--primary-tytle-color);
}

.portfolio-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-tytle-color);
}

.portfolio-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-btn {
  display: flex;
  padding-top: 83px;
  padding-bottom: 34px;
}

.portfolio-title {
  display: flex;
}

.portfolio-list {
  margin-right: 30px;
}

.portfolio {
}
